<suite name="Suite1" verbose="1" parallel="classes" thread-count="3">
    <test name="test1" >
        <groups>
            <run>

            </run>
        </groups>


        <packages >
            <package name="SleniumJava.*"/>
            <package name="com.sft.PageObjectModel.*"></package>
            <package name="com.toptal.tests.*"></package>

        </packages>
    </test>

</suite>
